<section class="container col-md-8 mt-5 shadow p-3">
    <form [formGroup]="movieForm">
        <h3 class="mb-3">Movie details</h3>
        <div class="row">
            <div class="container col-6">
                <div class="mb-3">
                    <label for="brand" class="form-label">Title</label>
                    <input
                        type="text"
                        class="form-control"
                        name="title"
                        id="title"
                        placeholder="Title..."
                        formControlName="title"
                    />
                    <small
                        *ngIf="title?.dirty && title?.invalid && title?.errors"
                        class="text-danger"
                        >Min 2, max 30 characters!</small
                    >
                </div>

                <div class="mb-3">
                    <label for="director" class="form-label">Director</label>
                    <input
                        type="text"
                        class="form-control"
                        name="director"
                        id="director"
                        placeholder="Director..."
                        formControlName="director"
                    />
                    <small
                        *ngIf="
                            director?.dirty &&
                            director?.invalid &&
                            director?.errors
                        "
                        class="text-danger"
                        >Min 3, max 20 characters, and no numbers!</small
                    >
                </div>

                <div class="mb-3">
                    <label for="duration" class="form-label"
                        >Duration (minutes)</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        id="duration"
                        formControlName="duration"
                        [min]="10"
                        [max]="350"
                    />
                    <small
                        *ngIf="duration?.invalid && duration?.dirty"
                        class="text-danger"
                        >Between 10 and 350 minutes!</small
                    >
                </div>

                <div class="mb-3">
                    <label for="genres" class="form-label">Genres</label>
                    <select
                        id="genres"
                        class="form-select"
                        formControlName="genres"
                    >
                        <option
                            *ngFor="let type of genresOptions"
                            [value]="type.key"
                        >
                            {{ type.value }}
                        </option>
                    </select>
                    <small
                        *ngIf="genres?.touched && genres?.value === ''"
                        class="text-danger"
                        >Please select one!</small
                    >
                </div>
            </div>

            <div class="container col-6">
                <div class="mb-3">
                    <label for="releaseDate" class="form-label"
                        >Release Date</label
                    >
                    <input
                        type="number"
                        class="form-control"
                        name="releaseDate"
                        id="releaseDate"
                        placeholder="Release Date"
                        formControlName="releaseDate"
                        [min]="1970"
                        [max]="2024"
                    />
                    <small
                        *ngIf="releaseDate?.invalid && releaseDate?.dirty"
                        class="text-danger"
                        >Between 1970 and 2023!</small
                    >
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label"
                        >Description</label
                    >
                    <textarea
                        class="form-control"
                        placeholder="Please write something..."
                        name=""
                        id="description"
                        cols="25"
                        rows="4"
                        formControlName="description"
                    ></textarea>

                    <small
                        *ngIf="description?.hasError('customError')"
                        class="text-danger"
                    >
                        Forbidden word!
                    </small>

                    <small
                        *ngIf="
                            description?.dirty &&
                            description?.invalid &&
                            !description?.hasError('customError')
                        "
                        class="text-danger"
                    >
                        Min 20, max 800 characters!
                    </small>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input
                        type="text"
                        class="form-control"
                        name="country"
                        id="country"
                        placeholder="Country..."
                        formControlName="country"
                    />
                    <small
                        *ngIf="country?.invalid && country?.dirty"
                        class="text-danger"
                        >Min 2, max 25 characters!</small
                    >
                </div>
            </div>
        </div>

        <div class="text-center mt-2 mb-2">
            <button
                type="submit"
                class="btn btn-success"
                (click)="saveMovie()"
                [disabled]="movieForm.invalid"
            >
                Submit
            </button>
            <p class="text-success mt-2">{{ message }}</p>
        </div>
    </form>
</section>
